html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* this is a border ios phone background (the top section that display time/battery will use this color */
  background-color: #020202;
  color: white;
}

canvas {
  display: block;
}
#unity-container,
#unity-canvas {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#unity-canvas {
  /* this is unity game background when loading game */
  background: #161616;
}

#loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

#unity-loading-bar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unity-logo {
  text-align: center;
}

#unity-logo img {
  max-width: 80%;
}

#unity-progress-bar-empty {
  width: 75vw;
  height: 24px;
  margin: 10px 20px 20px 10px;
  text-align: left;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2px;
}

#unity-progress-bar-full {
  width: 0%;
  height: 100%;
  border-radius: 1rem;
  background: white;
}
